/* Color Palette:
#DB9C85
Background → #FEEBED
Text → #543B37
Buttons → #E73B68
Hover Effects → #E56D84#*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #FEEBED;
    color: #543B37;
    margin: 0;
    padding: 0;
}

/* NAV BAR, LOGO, AND FOOTER */

.logo a {
    color: #E56D84;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #543B37;
    color: #FEEBED;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a:hover {
    background-color: #EAD0D6;
}

.navbar a {
    color: #E56D84;
    text-decoration: none;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #543B37;
    color: #FEEBED;
}

footer a {
    color: #E56D84;
    text-decoration: none;
    padding: 8px 15px;
}

footer a:hover {
    background-color: #EAD0D6;
}

.socials img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}
.socials {
    text-decoration: none;

}
.social-links{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* HOMEPAGE */
.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 30px;
}

.intro-section p {
    max-width: 500px;
    line-height: 1.6;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.welcome-post p,
.welcome-post h5 {
    margin: 10px 0;
}

/* CONTACT PANEL */
.contact-panel {
    position: fixed;
    top: 0;
    right: 0;

    width: 350px;
    height: 100vh;

    background-color: #DB9C85;

    padding: 30px;
    box-sizing: border-box;

    z-index: 1000;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    overflow-y: auto;
}

.contact-panel.active {
    transform: translateX(0);
}
.contact-panel button {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 2px solid #E73B68;

    background-color: #FEEBED;

    font-size: 20px;
    cursor: pointer;
}
.socials {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.socials img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 25px;
}

.contact-form label {
    font-weight: bold;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    border: 2px solid #E73B68;
    border-radius: 10px;

    background-color: #FEEBED;
    font-family: inherit;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 12px 24px;
    background-color: #fcebed;
    border: 2px solid #e73b68;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    width: auto;
    white-space: nowrap;
}
/* PROJECT PAGE */
.projects-intro{
    text-align: center;
    margin-bottom: 30px;
}

.sparkle-right{
 right: 20%;
 width: 55px;
 position: absolute;
    bottom: 78%;
}
.sparkle-left{
 left: 20%;
 width: 55px;
 position: absolute;
bottom: 78%;
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

    width: 70%;
    max-width: 1100px;
    margin: 40px auto;
}

.project-card {
    display: flex;
    flex-direction: column;

    padding: 20px;
    min-height: 500px;

    background-color: #ead0d6;
    border-radius: 15px;
}

/* MAIN PROJECT IMAGE ONLY */
.project-card > img {
   width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
/* PROJECT INFORMATION */

.project-description {
    width: 100%;
    flex: 1;
    font-size: 15px;
    line-height: 1.5;
}

.project-description h4 {
    margin-top: 0;
}

.project-description p {
    line-height: 1.6;
}

/* TECHNOLOGIES */

.project-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.project-technology {
    display: flex;
    align-items: center;
    gap: 6px;

    background-color: #FCE3EA;
    padding: 8px 12px;
    border-radius: 20px;
}

.project-technology img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.project-technology span {
    font-size: 14px;
    font-weight: bold;
}

/* BUTTONS */

.project-links {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.project-links .btn {
    border: 2px solid #E56D84;
    border-radius: 16px;
    background-color: #EAD0D6;
    padding: 8px 12px;

    color: #543B37;
    text-decoration: none;

    transition: 0.3s;
}

.project-links .btn:hover {
    background-color: #543B37;
    color: #EAD0D6;
    box-shadow: 0 8px 16px #E56D84;
    transform: translateY(-3px);
}


button {
    border: 2px solid #E56D84;
    border-radius: 16px;
    background-color: #EAD0D6;
    padding: 8px;
    font-size: 14px;
    transition-duration: 0.4s;

}

button:hover {
    background-color: #543B37;
    color: #EAD0D6;
    box-shadow: 0 8px 16px #E56D84;
    transform: translateY(4px);
}






   



/* Icons and illustrations */

.hero-image {
    width: 260px;
    height: auto;
    flex-shrink: 0;
}

.timeline-icon {
    width: 65px;
    height: auto;
}

.hobby-icon {
    width: 30px;
    height: auto;
    background-color: #E56D84;
    border-radius: 38%;
}

.sparkle {
    width: 55px;
    margin-left: 25px;
}

.heart-divider {
    width: 280px;
    margin-top: 10px;
    padding: 0px;


}

.quote-icon {
    width: 55px;
}

.flower-illustration {
    width: 300px;
    position: absolute;
    left: 0;
    bottom: 58px;


}

.flower-illustrations {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 58px;



}

/* About page */
.about-header {
    text-align: center;
    margin: 40px auto 30px;
    /* margin-top: 15px;
    margin-bottom: -200px; */
    position: relative;
    padding: 20px 0px;
}

.about-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.about-header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #543B37;
}

.layout-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    max-width: 1100px;
    margin: 40px auto;
    align-items: start;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.intro-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.card {
    background: #FFF8F9;
    border-radius: 20px;
    padding: 45px;
    box-shadow: 0 8px 20px rgba(84, 59, 55, .10);
    position: relative;
}

.icon-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.icon-title h2 {
    margin: 0;
}

.intro-card {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 15px 15px 8px 8px;
}

.intro-text {

    flex: 1;
    line-height: 1.8;

}

.intro-text p {
    margin-bottom: 18px;
    line-height: 1.8;
}

.journey-bio {
    padding: 30px 0;
    border-bottom: 1px solid #F5D6DC;
}

.journey-bio:last-child {
    border-bottom: none;
}

.journey-icon {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.skills-card li {
    background: #FCE3EA;
    padding: 12px 18px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
}

.skills-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 12px;
}

.hobby {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.hobby p {
    margin: 0;
}

.quote-card {
    text-align: center;
    padding: 5px 10px;
    margin-top: 65px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 35px;
}

.quote-card p {
    max-width: 700px;
    margin: 12px auto;
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 25px
}

.journey-bio {
    position: relative;
    padding: 30px 0 60px;
    border-bottom: 1px solid #F5D6DC;
}

.journey-bio:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.journey-icon {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.timeline-arrow {
    position: absolute;
    width: 35px;
    left: 15px;
    bottom: 20px;
}

.journey-content {
    margin-left: 57px;
}

.journey-content p {
    margin: 0;
    line-height: 1.8;
}